<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>테스트</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center bg-light">
    <h1 class="mb-3" th:style="'font-family: \'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif;'">My Blog</h1>
    <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
</div>
<div class = "container mt-5">
    <div class = "row">
        <div class = "col-lg-8">


            <section id = "replys-section" th:style = "'margin-top:20px;'">
                <div id = "replys-container">
                    <table class = "table">
                        <thead>
                            <tr><th>Replys</th></tr>
                        </thead>
                        <tbody>
                            <tr th:each = "item : ${replys}" th:id = "'replys-'+ ${item.id}">
                                <td>
                                    <div class = "replys-content" th:text="${item.comment}">댓글내용</div>
                                    <div class = "replys-info">
                                        <span>댓글 작성자</span>
                                        <span class = "text-muted">댓글 작성일</span>
                                    </div>
                                </td>

                                <td class = "replys-buttons">
                                    <button type = "button" class = "btn btn-sm btn-outline-primary edit-replys-btn"
                                        data-replys-id = "${item.id}" data-replys-comment = "${item.comment}">수정</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<div class = "container">
    <button type = "button" id = "create-btn"
            class = "btn btn-secondary btn-sm mb-3">댓글 등록</button>
</div>
<div class="container mt-5">
    <div class = "row-6" th:each = "item : ${replys}">
        <div class = "card">
            <div class = "card-header" th:text = "${item.id}">
            </div>
            <div class = "card-body">
                <p5 class = "card-text" th:text = "${item.comment}"></p5>
            </div>

        </div>
    </div>

</div>
<!--<script src="/js/comment.js"></script>-->
<!--<script src="/js/article.js"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>